.card {
    border: inherit;
    border-top: 2px solid #d9b445;
}

.c-pointer {
    cursor: pointer;
}

.btn-outline-warning {
    border: 2px solid;
    border-radius: 4px;
    color: #000000;
}

.btn-outline-warning:hover {
    background-color: #fdf8e5 !important;
    border-color: #d9b445 !important;
}

.form-control {
    border: var(--bs-border-width) solid #d9b445;
}

.form-check-input:checked {
    background-color: #d9b445;
    border-color: #d9b445;
}

.slot {
    .active {
        border-color: #d9b445;
        background-color: #fdf8e5;
    }

    .inactive {
        border-color: #e1e1e1;
    }

    .slot-item {
        button {
            padding: 9px 12px;
        }
    }

    .time-slot {
        button {
            padding: 12px 12px;
            text-align: left;
        }

        h6 {
            margin: 0;
            line-height: 18px;
        }

        p {
            margin: 0;
        }

        .pricing {
            color: #11a711;
        }
    }
}

.order-summary {
    .divider {
        border: 1px solid #afafaf;
        ;
    }
}

// Mobile Styles
@media only screen and (max-width: 767px) {
    .container-fluid {
        padding: 1rem;

        .slot-item {
            .btn-outline-warning {
                margin-bottom: 10px;
            }
        }

        .time-slot {
            .btn-outline-warning {
                margin: 10px 0;
            }
        }
    }
}

/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container-fluid {
        padding: 1rem;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
    .container-fluid {
        padding: 3rem;
    }
}